<% id=params[:id] %>
<% spot = foursquare_spot(id) %>
<% address = foursquare_spot_address(id) %>

<br><br> <%= link_to 'Rate', new_post_path+"?site=foursquare&id="+id%>

<table style="margin:auto;">
  <thead>
    <tr>
      <th colspan="3"><%= spot["name"]%></th>
      <%if address["address"]!=nil%>
        <th colspan="3"><%= address["address"]+", "+address["city"]+", "+address["cc"]%></th>
      <%end%>
    </tr>

    <tr>
      <th>Rating</th>

      <th>Review</th>
      <th colspan="3"></th>
    </tr>

  </thead>

  <tbody>
    <tr>
      <td><%= spot["rating"] %></td>
      <td>
        <% if spot!=nil and spot["phrases"]!= nil%>
          <% spot["phrases"].each do |fr| %>
            <%= fr[:sample][:text].to_s %><br>
          <%end%>
        <%else%>
            <%="Nessuna recensione"%>
        <%end%>
      </td>
      <!-- passa alla pagina details direttamente il place_place_id dello spot -->

    </tr>
  </tbody>
</table>

<%spot["photos"].each do |s| %>
  <%=image_tag(s)%>
<%end%>
