<% id=params[:id] %>
<% spot = foursquare_spot(id) %>
<% address = foursquare_spot_address(id) %>
<%@posts=get_our_reviews("foursquare",id)%>


<% if not post_already_created?(@posts) %>
  <br><br> <%= link_to 'Rate', new_post_path+"?site=foursquare&id="+id%>
<%end%>

<table style="margin:auto;">
  <thead>
    <tr>
      <th colspan="3"><%= spot["name"]%></th>
      <%if address["address"]!=nil%>
        <th colspan="3"><%= address["address"]+", "+address["city"]+", "+address["cc"]%></th>
      <%end%>
    </tr>

    <tr>
      <th>Rating</th>

      <th>Review</th>
      <th colspan="3"></th>
    </tr>

  </thead>

  <tbody>
    <tr>
      <td><%= spot["rating"] %></td>
      <td>
        <% if spot!=nil and spot["phrases"]!= nil%>
          <% spot["phrases"].each do |fr| %>
            <%= fr[:sample][:text].to_s %><br>
          <%end%>
        <%else%>
            <%="Nessuna recensione"%>
        <%end%>
      </td>
      <!-- passa alla pagina details direttamente il place_place_id dello spot -->

    </tr>
  </tbody>
</table>

<%spot["photos"].each do |s| %>
  <%=image_tag(s)%>
<%end%>

<br>
<%=foursquare_spot(id)["name"]%>
<%=foursquare_spot_address(id)["address"]%>
<%=foursquare_spot_address(id)["cc"]%>
<%=foursquare_spot_address(id)["city"]%>

<br>
Le nostre fighissime recensioni:<br>

<%@posts=[] if @posts==nil%>

<table>
  <thead>
    <tr>
      <th>Rating num</th>
      <th>Name of the Author</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |p| %>
    <tr>
      <td><%= "" %></td>
      <td><%= get_user_email(p.user_id)%></td>
      <td><%= p.text %></td>
      <td><%= link_to "Edit", edit_post_path(p.id) if p.user_id==current_user.id %><td>
      <td><%= link_to "Destroy", post_path(p.id), method: :delete, data: {confirm: "Are you ssssure?"} if p.user_id==current_user.id %><td>
      <% end %>
    </tr>
  </tbody>
</table>
