<% place_id=params[:place_id] %>
<% place = get_place_by_id(place_id) %>
<% photos=get_photos(place_id)%>
<% hash_address=get_spot_address(place_id)%>
<% location=get_spot_location(place_id)%>


<table>
  <thead>
    <tr>
      <th colspan="3"><%= link_to place.name, place.url, target: :_blank %></th>
    </tr>
    <tr>
      <%v=hash_address["route"].to_s+" "+hash_address["street_number"].to_s+", "+hash_address["locality"].to_s+", "+location[0].to_s+","+location[1].to_s%>
      <%= link_to v, "/result?utf8=✓&search="+v+"&commit=Search"%>
    </tr>

    <tr>
      <th>Rating num</th>
      <th>Name of the Author</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>

  </thead>

  <tbody>
    <% place.reviews.each do |review| %>
    <tr>
      <td><%= review.rating %></td>
      <td><%= link_to review.author_name, review.author_url , target: :_blank%></td>
      <td><%= review.text %></td>
      <!-- passa alla pagina details direttamente il place_place_id dello spot -->
      <% end %>
    </tr>
  </tbody>
</table>

<% photos.each do |p| %>
  <%link="https://maps.googleapis.com/maps/api/place/photo?maxwidth=300&maxheigth=500&photoreference="+p.photo_reference+"&key="+API_KEY %>
  <%=image_tag(get_image(link))%>
<%end%>
