<%address=params[:search]%>
<%@spots=get_spots(address)%>
<%@yelp_spots=yelp_spots()%>
<table>
<tr>

<td>

<table>
  Google Results
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.rating %></td>
        <td><%= link_to 'Details', "/googledetails?place_id="+spot.place_id %></td>
        <!-- passa alla pagina details direttamente il place_id dello spot -->
      </tr>
    <% end %>
  </tbody>
</table>
</td>
<td>
<table>
  Yelp Results
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yelp_spots.each do |spot| %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.rating %></td>
        <td><%= link_to 'Details', "/yelpdetails?id="+spot.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</td>
<td>
<table>
  foursquare Results
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% spot_hash=foursquare_spots().first %>
    <% spot_hash.second.each do |spot| %>
    <tr>
      <td> <%= spot.name%></td>
      <td><%= link_to 'Details', "/foursquaredetails?id="+spot.id %></td>
    </tr>
    <%end%>
  </tbody>
</table>
</td>

</tr>
</table>

<br>
