<%id=params[:id] %>
<%@review=yelp_review(id)%>
<%name=@review[0]%>
<%excerpt=@review[1]%>
<%rating=@review[2]%>
<%username=@review[3]%>
<%url=@review[4]%>
<%image_url=@review[5]%>

<%if excerpt!=""%>

  <br><br> <%= link_to 'Rate', new_post_path+"?site=yelp&id="+id%>


  <table>
    <thead>
      <tr>
        <%= image_tag(image_url) %>
        <th colspan="3"><%= link_to name, url, target: :_blank %></th>
      </tr>

      <tr>
        <th>Rating num</th>
        <th>Name of the Author</th>
        <th>Review</th>
        <th colspan="3"></th>
      </tr>

    </thead>

    <tbody>
      <tr>
        <td><%= rating %></td>
        <td><%= username%></td>
        <td><%= excerpt %></td>
      </tr>
    </tbody>
  </table>
<%else%>
  <br><br>
  Nessuna review per questo business
<%end%>

<%= yelp_spot_address(id) %>
