<%id=params[:id] %>
<%@review=yelp_review(id)%>
<%name=@review[0]%>
<%excerpt=@review[1]%>
<%rating=@review[2]%>
<%username=@review[3]%>
<%url=@review[4]%>
<%image_url=@review[5]%>
<%@posts=get_our_reviews("yelp",id)%>


<%if excerpt!=""%>

  <% if not post_already_created?(@posts) %>
    <br><br> <%= link_to 'Rate', new_post_path+"?site=yelp&id="+id%>
  <%end%>

  <table>
    <thead>
      <tr>
        <%= image_tag(image_url) %>
        <th colspan="3"><%= link_to name, url, target: :_blank %></th>
      </tr>

      <tr>
        <th>Rating num</th>
        <th>Name of the Author</th>
        <th>Review</th>
        <th colspan="3"></th>
      </tr>

    </thead>

    <tbody>
      <tr>
        <td><%= rating %></td>
        <td><%= username%></td>
        <td><%= excerpt %></td>
      </tr>
    </tbody>
  </table>
<%else%>
  <br><br>
  Nessuna review per questo business
<%end%>

<%= yelp_spot_address(id) %>

<br>
Le nostre fighissime recensioni:<br>
<%@posts=get_our_reviews("yelp",id)%>
<%@posts=[] if @posts==nil%>

<table>
  <thead>
    <tr>
      <th>Rating num</th>
      <th>Name of the Author</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |p| %>
    <tr>
      <td><%= "" %></td>
      <td><%= get_user_email(p.user_id)%></td>
      <td><%= p.text %></td>
      <td><%= link_to "Edit", edit_post_path(p.id) if p.user_id==current_user.id %><td>
      <td><%= link_to "Destroy", post_path(p.id), method: :delete, data: {confirm: "Are you ssssure?"} if p.user_id==current_user.id %><td>
      <% end %>
    </tr>
  </tbody>
</table>
