<p id="notice"><%= notice %></p>
<% place_id= @post.place_id %>
<% @place = Place.find(place_id)%>

<p>
  <strong>User:</strong>
  <%= User.find(@post.user_id).email %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Place Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Place Name:</strong>
  <%= @place.name %>
</p>

<%= link_to 'Edit', edit_post_path(@post) if sei_proprio_tu?(@post)%> |
<%= link_to 'Back', posts_path %>
